version: "3.5"

services:
  photoprism:
    image: photoprism/photoprism:latest
    container_name: photoprism
    restart: unless-stopped
    stop_grace_period: 10s
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    networks:
      - {{ traefik_network_name }}
    environment:
      - PHOTOPRISM_ADMIN_USER={{ photoprism_admin_user }}
      - PHOTOPRISM_ADMIN_PASSWORD={{ photoprism_admin_password }}
      - PHOTOPRISM_AUTH_MODE={{ photoprism_auth_mode }}
      - PHOTOPRISM_SITE_URL={{ photoprism_site_url }}
      - PHOTOPRISM_DISABLE_TLS={{ photoprism_disable_tls }}
      - PHOTOPRISM_DEFAULT_TLS={{ photoprism_default_tls }}
      - PHOTOPRISM_DISABLE_CHOWN=true
      - PHOTOPRISM_DETECT_NSFW=true
      - PHOTOPRISM_DATABASE_DRIVER={{ photoprism_database_driver }}
      - PHOTOPRISM_DATABASE_SERVER=10.0.0.103:3306
      - PHOTOPRISM_DATABASE_NAME={{ photoprism_database_name }}
      - PHOTOPRISM_DATABASE_USER={{ photoprims_database_user }}
      - PHOTOPRISM_DATABASE_PASSWORD={{ photoprism_database_password }}
      - PHOTOPRISM_FFMPEG_ENCODER=intel
    devices:
      - /dev/dri:/dev/dri
    working_dir: "/photoprism"
    volumes:
      - photoprism-originals:/photoprism/originals
      - photoprism-import:/photoprism/import
      - photoprism-storage:/photoprism/storage
    labels:
      - traefik.enable=true
      - traefik.http.routers.photoprism.rule=Host(`photoprism.{{ traefik_domain }}`)
      - traefik.http.services.photoprism.loadbalancer.server.port=2342

networks:
  {{ traefik_network_name }}:
    external: true

volumes:
  photoprism-originals:
    driver_opts:
      type: nfs
      device: :/photoprism/originals
      o: addr=10.0.0.103,soft,rw,nfsvers=4
  photoprism-import:
    driver_opts:
      type: nfs
      device: :/photoprism/import
      o: addr=10.0.0.103,soft,rw,nfsvers=4
  photoprism-storage:
    driver_opts:
      type: nfs
      device: :/photoprism/storage
      o: addr=10.0.0.103,soft,rw,nfsvers=4
