version: '2.1'

services:
  traefik:
    image: traefik:2.11
    container_name: traefik
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    networks:
      - {{ traefik_network_name }}
    ports:
      - "80:80"
      - "443:443"
{% if traefik_duckdns_token|length > 1 %}
    environment:
      - DUCKDNS_TOKEN={{ traefik_duckdns_token }}
{% endif %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ docker_apps_dir }}/traefik/data/cert:/cert
{% if traefik_dasboard %}
    labels:
      - traefik.enable=true
{% if (traefik_http_challenge or traefik_dns_challenge) %}
      - traefik.http.routers.dashboard.tls=true
      - traefik.http.routers.dashboard.tls.certresolver=myresolver
{% endif %}
      - traefik.http.routers.dashboard.rule=Host(`traefik.{{ traefik_domain }}`)
      - traefik.http.services.dashboard.loadbalancer.server.port=8080
{% endif %}
    command:
{% if traefik_debug %}
      - "--log.level=DEBUG"
{% else %}
      - "--log.level=INFO"
{% endif %}
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.network={{ traefik_network_name }}"
      - "--providers.docker.exposedByDefault=false"
      - "--entrypoints.web.address=:80"
{% if traefik_acme_email|length > 1 %}
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls.certResolver=myresolver"
      - "--entrypoints.websecure.http.tls.domains[0].main={{ traefik_domain }}"
      - "--entrypoints.websecure.http.tls.domains[0].sans=*.{{ traefik_domain }}"
      - "--certificatesresolvers.myresolver.acme.email={{ traefik_acme_email }}"
      - "--certificatesresolvers.myresolver.acme.storage=/cert/acme.json"
{% if traefik_http_challenge %}
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
{% endif %}
{% if traefik_dns_challenge %}
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=duckdns"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.delayBeforeCheck=60"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.disablePropagationCheck=true"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53"
{% endif %}
{% endif %}

  whoami:
    image: traefik/whoami
    container_name: whoami
    restart: unless-stopped
    security_opt:
      - apparmor:unconfined
    networks:
      - {{ traefik_network_name }}
    labels:
      - traefik.enable=true
{% if (traefik_http_challenge or traefik_dns_challenge) %}
      - traefik.http.routers.whoami.tls=true
      - traefik.http.routers.whoami.tls.certresolver=myresolver
{% endif %}
      - traefik.http.routers.whoami.rule=Host(`whoami.{{ traefik_domain }}`)

networks:
  {{ traefik_network_name }}:
    external: true
