version: "2.1"

services:
  recyclarr:
    image: ghcr.io/recyclarr/recyclarr:6
    container_name: recyclarr
    user: {{ docker_uid }}:{{ docker_gid }}
    restart: unless-stopped
    networks:
      - {{ traefik_network_name }}
    environment:
      - TZ={{ timezone }}
      - RECYCLARR_CREATE_CONFIG=true
    volumes:
      - {{ docker_apps_dir }}/recyclarr/config:/config

networks:
  {{ traefik_network_name }}:
    external: true
