version: "3.5"

services:
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    restart: unless-stopped
    networks:
      - {{ traefik_network_name }}
    volumes:
      - {{ docker_apps_dir }}/readarr/config:/config
      - {{ docker_apps_dir }}/readarr/data/downloads:/downloads
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ={{ timezone }}
    labels:
      - traefik.enable=true
      - traefik.http.routers.readarr.rule=Host(`readarr.{{ traefik_domain }}`)
      - traefik.http.services.readarr.loadbalancer.server.port=8787

networks:
  {{ traefik_network_name }}:
    external: true
