version: "2.1"

services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    restart: unless-stopped
    network_mode: host
    privileged: true
    environment:
      - TZ={{ timezone }}
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - PLEX_CLAIM={{ plex_claim }}
{% if plex_version|length > 1 %}
      - VERSION={{ plex_version }}
{% endif %}
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - {{ docker_apps_dir }}/plex/data/config:/config
      - {{ docker_apps_dir }}/plex/data/media:/data
      - plex-media:/data/media:rw
      - plex-torrent:/data/torrent:ro

volumes:
  plex-media:
    driver_opts:
      type: nfs
      device: :/media
      o: addr=10.0.0.103,soft,rw,nfsvers=4
  plex-torrent:
    driver_opts:
      type: nfs
      device: :/torrent
      o: addr=10.0.0.103,soft,ro,nfsvers=4
