version: "3.5"

services:
  kavita:
    image: lscr.io/linuxserver/kavita:latest
    container_name: kavita
    restart: unless-stopped
    networks:
      - {{ traefik_network_name }}
    volumes:
      - {{ docker_apps_dir }}/kavita/config:/config
      - {{ docker_apps_dir }}/kavita/data:/data
    environment:
      - PUID={{ docker_uid }}
      - PGID={{ docker_gid }}
      - TZ={{ timezone }}
    labels:
      - traefik.enable=true
      - traefik.http.routers.kavita.rule=Host(`kavita.{{ traefik_domain }}`)
      - traefik.http.services.kavita.loadbalancer.server.port=5000

networks:
  {{ traefik_network_name }}:
    external: true
